.footer1{
    left: 0px;
    width: 100%;
    height: 88px;
   
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    background-color: rgba(153, 69, 255, 1);
}
