/*
.rname{

    border-left: none;
    border-top: none;
    border-right: none;
    background-color: #eee !important;
} */
/*.content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    text-align: center;
}*/

.content{
    text-align: center;
   
   
}

button{
    width:100%;
    border: none;
    height: 50px;
}
.gap{
    margin-top: 3%;
}

.loginbtn{
    margin-top: 2%;
}
input:focus{
    outline: none;
    box-shadow: none;
  
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }
  .reg{
  
   /*   background-color:#F3F3F3;
   
   margin-top: 3%;
    background-color: rgb(175, 175, 175);*/
}
.heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 43px;
    color: #000000;
}
.sub{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: -24px;
    /* line-height: 0px; */
    color: #000000;
}
.lbl{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;

    
  /*  color: #8C8C8C; */
    
}
.lbl_r2{
    margin-left: 15px;
}
.sp{
    margin-left: 5px;
 /*   color: #8C8C8C; */
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;

}
.rname2{
    margin-top: 8px;
}
.btns{
    background: #D9D9D9;
    /* border-radius: 7px; */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
}
.a{
    text-decoration: none; 
    color: white;
}
.check{
   /* float: left; */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}
.g1{
    margin-top: 6%;
}
.form-check-input:checked {
    background-color: #8C8C8C !important;
    border: none !important;
    
}
.btn2{
  
    width: 235px;
   
}
.btn1{
    width: 242px;
}
.form-control{
    width: 90% !important;
    margin-left: 5%;
}
.c1{
   
    background-color: #f6f8fa !important;
    height: 87%;
}

